body{
    font-family: Arial;
}

h1{
    padding: 10px;
    background-color: black;  
    color:white; 
    
    
}


nav li{
    display: inline;
    padding: 4px;
    
}

a{
    text-decoration: none;
    color: black;
}
nav{
    margin-top: -18px;
    margin-left: -30px;
}

label{
    padding: 5px 10px;
    display: block;
}

nav li:hover
{
    background-color: skyblue;
    color:white;
}

footer{
    padding: 5px;
}